html,
body {
  margin: 0;
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background: linear-gradient(to right, #f3eac2, #d8c9a3);
  background-repeat: repeat;
  background-size: auto;
}

.container {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  height: 100%;
  flex-direction: column;
}
.header {
  background: linear-gradient(45deg, #f4e1c1, #d8b38c, #c4a17a);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 35px;
  display: flex;
  text-align: center;
  font-family: fantasy;
  font-size: 6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.bookfinder-form {
  font-size: 2rem;
  text-align: center;
  padding: 10px 10px;
  width: 50rem;
  border-radius: 8px;
}

.bookfinder-btn {
  font-size: 1.1rem;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 8px;
  border: none;
  background-color: #7ca982;
  color: white;
  cursor: pointer;
}

.bookcard-display {
  border: 2px solid black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    to right,
    #f9f1d3,
    #e4d6b8
  ); /* similar but not identical */

  background-repeat: repeat;
  background-size: auto;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 1000px;
}
